<!DOCTYPE html>
<html>
<head>
  <title>SMC-Overflow</title>
  <link rel="stylesheet" href="statics/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
</head>
<body>
  <h1 class="header">SMC-Overflow</h1>
  <div class="button-container">
    <button class="categories-button">Computer Science</button>
    <button class="categories-button">Math</button>
    <button class="categories-button">Business</button>
    <button class="categories-button">Biology</button>
    <button class="categories-button">Psychology</button>
    <button class="categories-button">English</button>
    <button class="categories-button">Spanish</button>
    <button class="categories-button">History</button>
    <div class="profile-button">
      Profile
    </div>
  </div>
</body>
</html>
