<!DOCTYPE html>
<html>
<head>
	<title>My Profile Page</title>
	<link rel="stylesheet" type="text/css" href="statics/styles.css">
</head>
<body>
	<div class="button-container">
		<a href="/" class="back-button">
		  <span class="back-button-text">Back</span>
		</a>
	  </div>
	<div class="profile-container">
		<h1>Profile</h1>
	</div>
	<div class="main-container">
		<div class="container">
			<div class="username">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username">
			</div>
			<div class="certified-tutor">
				<p>Certified Tutor For:</p>
				<ul>
					<li>Subject 1</li>
					<li>Subject 2</li>
					<li>Subject 3</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
