<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="#">
    <title>SMC Overflow</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      #posts {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      }

      .post {
        margin-left: auto;
        margin-right: auto;
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }

      .post h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        padding: 20px;
        background-color: #F5A00F;
        color: #532884;
      }

      .post h3 {
        font-size: 18px;
        margin: 0;
        padding: 10px;
        margin-left:15px;
        color: #880ca7;

      }

      .post p {
        font-size: 16px;
        margin: 0;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <a href="/" class="btn">Back</a>
    <select id="sort-dropdown">
      <option value="">Sort By</option>
      <optgroup label="Popularity">
        <option value="0">Popularity: Low to High</option>
        <option value="1">Popularity: High to Low</option>
      </optgroup>
      <optgroup label="Recency">
        <option value="2">Recency: Old to New</option>
        <option value="3" selected>Recency: New to Old</option>
      </optgroup>
      <optgroup label="Answers">
        <option value="4">Unanswered</option>
        <option value="5">Most Answers</option>
      </optgroup>
    </select>
    <select id="cat-dropdown">
      <optgroup label="Categories">
        <option value="All">All</option>
        <option value="Africana Studies">Africana Studies</option>
        <option value="American Studies">American Studies</option>
        <option value="Anthropology and Sociology">Anthropology and Sociology</option>
        <option value="Art and Art History">Art and Art History</option>
        <option value="Arts Administration">Arts Administration</option>
        <option value="Asian Studies">Asian Studies</option>
        <option value="Astronomy">Astronomy</option>
        <option value="Biochemistry">Biochemistry</option>
        <option value="Biology">Biology</option>
        <option value="Business and Management">Business and Management</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Chinese">Chinese</option>
        <option value="Classics and Ancient Mediterranean Studies">Classics and Ancient Mediterranean Studies</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Dance">Dance</option>
        <option value="Data Science">Data Science</option>
        <option value="Earth Science">Earth Science</option>
        <option value="Economics">Economics</option>
        <option value="Educational Studies">Educational Studies</option>
        <option value="Engineering">Engineering</option>
        <option value="English">English</option>
        <option value="Environmental Studies">Environmental Studies</option>
        <option value="Film Studies">Film Studies</option>
        <option value="French">French</option>
        <option value="Gender and Women's Studies">Gender and Women's Studies</option>
        <option value="German">German</option>
        <option value="Health Studies">Health Studies</option>
        <option value="History">History</option>
        <option value="Interdisciplinary Studies">Interdisciplinary Studies</option>
        <option value="International Relations">International Relations</option>
        <option value="International Studies">International Studies</option>
        <option value="Japanese">Japanese</option>
        <option value="Journalism">Journalism</option>
        <option value="Latin American Studies">Latin American Studies</option>
        <option value="Law">Law</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Medicine">Medicine</option>
        <option value="Modern Languages">Modern Languages</option>
        <option value="Music">Music</option>
        <option value="Neuroscience">Neuroscience</option>
        <option value="Nursing">Nursing</option>
        <option value="Occupational Therapy">Occupational Therapy</option>
        <option value="Optometry">Optometry</option>
        <option value="Peace and Justice">Peace and Justice</option>
        <option value="Philosophy">Philosophy</option>
        <option value="Physics">Physics</option>
        <option value="Political Science">Political Science</option>
        <option value="Psychology">Psychology</option>
        <option value="Theatre">Theatre</option>
      </optgroup>
    </select>
    <div id="posts"></div>
    <script>

      // Fetch the JSON data
      fetch('/data')
        .then(response => response.json())
        .then(posts => {
          const postsDiv = document.getElementById('posts');

          // Loop through the posts array
          posts.forEach(post => {
            // Create the HTML elements for each post
            const postDiv = document.createElement('div');
            postDiv.classList.add('post');
            postDiv.innerHTML = `
              <h2>${post.title}</h2>
              <h3>${post.username}</h3>
              <h3>Category: ${post.category}</h3>
              <p>${post.question}</p>
              <p>Rating: <span class="rating" data-post-id="${post.question_id}">${post.rating}</span></p>
              <button onclick="increaseRating(${post.question_id})">Increase Rating</button>
              <button onclick="decreaseRating(${post.question_id})">Decrease Rating</button>
              <a href="/viewpost/${post.question_id}" class="btn">View Post</a>
            `;

            // Add the post to the page
            postsDiv.appendChild(postDiv);
          });
        })
        .catch(error => console.error(error));

        function updatePosts() {
          var sort = document.getElementById('sort-dropdown').value;
          var cat = document.getElementById('cat-dropdown').value;
          
          fetch(`/data?sort=${sort}&category=${cat}`)
            .then(response => response.json())
            .then(posts => {
              const postsDiv = document.getElementById('posts');
              postsDiv.innerHTML = ''; // Clear the existing posts

              // Loop through the retrieved posts and create HTML elements for each post
              posts.forEach(post => {
                const postDiv = document.createElement('div');
                postDiv.classList.add('post');
                postDiv.innerHTML = `
                  <h2>${post.title}</h2>
                  <h3>${post.username}</h3>
                  <h3>Category: ${post.category}</h3>
                  <p>${post.question}</p>
                  <p>Rating: <span class="rating" data-post-id="${post.question_id}">${post.rating}</span></p>
                  <button onclick="increaseRating(${post.question_id})">Increase Rating</button>
                  <button onclick="decreaseRating(${post.question_id})">Decrease Rating</button>
                  <a href="/viewpost/${post.question_id}" class="btn">View Post</a>
                `;
                postsDiv.appendChild(postDiv); // Add the post to the page
              });
            })
            .catch(error => console.error(error));
        }

        document.getElementById('sort-dropdown').addEventListener('change', updatePosts);
        document.getElementById('cat-dropdown').addEventListener('change', updatePosts);

        function increaseRating(postId) {
          fetch(`/increase-rating/${postId}`)
            .then(response => response.json())
            .then(data => {
              const ratingElements = document.querySelectorAll(`.rating[data-post-id="${postId}"]`);
              ratingElements.forEach(element => {
                element.innerText = data.rating;
              });
            })
            .catch(error => console.error(error));
        }

        function decreaseRating(postId) {
          fetch(`/decrease-rating/${postId}`)
            .then(response => response.json())
            .then(data => {
              const ratingElements = document.querySelectorAll(`.rating[data-post-id="${postId}"]`);
              ratingElements.forEach(element => {
                element.innerText = data.rating;
              });
            })
            .catch(error => console.error(error));
        }

    </script>
  </body>
</html>
