/* CSS for Profile Page */

/* Page Header */
.header {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  color: #532884;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-size: 4em;
}

/* Buttons */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.categories-button {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 12px 24px;
  font-size: 20px;
  background-color: #F5A00F;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}

.categories-button:hover {
  background-color: #532884;
  color: white;
  font-size: 30px;
  transform: translateY(-2px);
}

.profile-button {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
  padding: 12px 24px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 10px;
  right: 10px;
}

.profile-button:hover {
  background-color: #F5A00F;
}

/* Body */
body {
  background-color: #ffffff;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
}
.back-button{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin: 5px;
  margin-right: 93%;
  padding: 12px 24px;
  font-size: 20px;
  background-color: #F5A00F;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}

/* Profile Container */
.profile-container {
  margin: 0;
  padding: 20px;
  background-color: #532884;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
  text-align: top, center;
  font-size: 2em;
}

/* Form Container */
.container {
  max-width: 800px;
  margin: auto;
  padding: 50px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* Form Header */
h1 {
  color: #F5A00F;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}

/* Username Input */
.username {
  margin-bottom: 20px;
}

.username label {
  display: block;
  font-size: 24px;
  color: #F5A00F;
  margin-bottom: 10px;
}

.username input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #F5A00F;
  color: #ffffff;
}

/* Certified Tutor Section */
.certified-t
